<!DOCTYPE html>
<html lang="pt">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/profile.css"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <script src="/public/javascripts/profile.js" type="text/javascript"></script>
</head>

<body>
    <main>
        <div class="dashboard-box">
            <div class="dashboard-header">
                <div class="picture-shape">
                    <!-- Img here -->
                </div>
                <div class="dashboard-username">
                    <h3>{{name}}</h3>
                </div>
            </div>

            <div class="dashboard-content">
                <div class="search-box">
                    <form>
                        <input name="music-name" id="music-name" type="text">
                        <button class="search-button">
                            Buscar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>