<!DOCTYPE html>
<html lang="pt">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/profile.css"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <script src="/public/javascripts/profile.js" type="text/javascript"></script>
</head>

<body>
    <main>
        <div class="dashboard-box">
            <div class="dashboard-header">
                <div class="dash-main">
                    <div class="add-music-button">
                        {{#if user_adm}}
                            <a href="/musics/add">
                                <img width="30px" src="../public/images/plus-solid.svg" alt="Adicionar Música">
                            </a>
                        {{/if}}

                    </div>
                    <div class="picture-shape">
                        <img width="100px" src="../public/images/avatar.jpg"/>
                    </div>
                    <div class="logoff-button">
                        <a href="/users/logoff">
                            <img width="40px" src="../public/images/door-open-solid.svg" alt="Sair">
                        </a>
                    </div>
                </div>
                <div class="dashboard-username">
                    <h3>{{name}}</h3>
                </div>
                {{#if user_adm}}
                    <button class="switch-button" data-current="search">
                        Minhas Músicas
                    </button>
                {{/if}}
            </div>

            <div class="dashboard-content">
                <div class="search-box">
                    <form class="search-form" action="#" method="post">
                        <input name="music-name" id="music-name" type="text">
                        <button class="search-button">
                            Buscar
                        </button>
                    </form>
                </div>
                <div class="music-box"></div>
            </div>
        </div>
    </main>
</body>
</html>