body{
    overflow: hidden;
}
.dashboard-box{
    width: 1000px;
    height: 100vh;
    border: 2px solid #c9c9c9;
    margin-left:50%;
    transform: translateX(-50%);
}

.dashboard-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    border-bottom: 1px solid #c3c3c3;
}

.dashboard-username {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 326px;
    height: 60px;
    margin-top: 20px;
    text-transform: uppercase;
}

.picture-shape img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 15px;
    shape-outside: circle(250px at 50% 50%) padding-box;
    shape-margin: 15px;
}

.search-button,
.switch-button{
    border-radius: 500px;
    padding: 14px 32px;
    color: #000000;
    background-color: #1ED760;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
}

.switch-button{
    margin-bottom: 20px;
}

#music-name{
    height: 40px;
    width:500px
}

.search-box{
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.add-music-button{
    width:50px;
    height: 50px;
    padding:10px;
}

.logoff-button{
    width:50px;
    height: 50px;
    padding:10px;
}

.dash-main{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 6px;
}

.logoff-button img{
    margin-left: 10px;
}

.music-box{
    height: 469px;
    margin-top: 21px;
    padding-left: 52px;
    padding-right: 52px;
    overflow-y: scroll;
}

.music-data{
    width: 753px;
    height: 144px;
    margin-top: 42px;
    margin-left: 17px;
}

.music-item{
    border: 1px solid #c3c3c3;
    height:146px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.music-name{
    margin-bottom: 10px;
}

.music-duration{
    margin-top: 10px;
}


.play-button img{
    width: 121px;
    cursor: pointer;
}

.music-item > img{
    width: 145px;
    height:145px;
}

.my-musics-box{
    height: 598px;
}
